/* Page properties */

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Poppins;
  src: url("./Poppins-Regular.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background: #11072f;
  color: #fff;
  padding-bottom: 84px;
}

.content {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-section {
  margin-top: 57px;
}

.upper-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.display-favorites-section {
  margin-top: 39px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(106, 77, 188, 0.44);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  gap: 15px;
}

.search-and-general-section {
  height: 100%;
  width: 100%;
}

.display-loader-section {
  margin-top: 39px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 15px;
}

.liked-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.little-favorite-button {
  background-color: #6a4dbc;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.littleHeart {
  height: 13.33px;
  width: 12px;
}

.liked-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.725381px;
  /* color: #fff; */
}

.display-button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-button-rotated {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.lower-section {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* recordar que aqui cambie esto para que se parezca a como esta en el mockup */
  padding: 50px 0;
}

.favorite-heroes-section {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, 321px);
  row-gap: 16px;
  column-gap: 16px;
  justify-content: center;
  justify-items: center;
}

.favorite-heroes-section::-webkit-scrollbar {
  display: none;
}

.grid-conteiner {
  overflow: scroll;
  overflow-x: hidden;
}

.grid-conteiner::-webkit-scrollbar {
  display: none;
}

.big-heart {
  height: 33px;
  width: 34px;
}

.favorite-text {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 00.725381px;
  text-align: center;
  /* color: #fff; */
}

.search-heroes-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 34px;
  align-items: center;
}

.search-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 00.725381px;
}

.search-bar-element {
  /* margin-right: 16px; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  width: 33%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.search-input {
  border: transparent;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 00.273885px;
  color: #fff;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.list-heroes-section {
  margin-top: 34px;
  height: 74vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding-left: 16px;
}

.list-heroes-section::-webkit-scrollbar {
  display: none;
}

.react-window-container {
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 34px;
  margin-right: 0px;
}

.react-window-container::-webkit-scrollbar {
  display: none;
}

/* Card properties */

.card-background {
  width: 285px;
  height: 174px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.background-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: blur(27px);
  -webkit-filter: blur(27px);
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  background: rgba(54, 44, 106, 0.65);
  border-radius: 16px;
  background-origin: initial;
  position: relative;
  top: -16px;
  left: -16px;
  border: 16px solid transparent;
}

.heroesPicture {
  height: 100%;
  width: 50%;
  position: relative;
}

.heroesContent {
  height: 100%;
  width: 50%;
}

.rank-space {
  display: flex;
  align-items: center;
  gap: 6px;
}

.fist {
  size: 14.08px;
}

.rank {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.273885px;
  color: rgba(255, 255, 255, 0.49);
}

strong {
  color: #fff;
}

.hero {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.heroes-nickname {
  font-size: 20px;
  font-weight: bold;
  line-height: 143%;
  letter-spacing: 0.300393px;
  color: #fff;
  align-self: stretch;
  margin: 4px 0px;
}

.realName {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.273885px;
  color: rgba(255, 255, 255, 0.49);
  align-self: stretch;
  margin: 4px 0px;
}

.favorite-button {
  position: absolute;
  background-color: #6a4dbc;
  width: 48px;
  height: 48px;
  right: -10%;
  bottom: -4%;
  border-radius: 32px;
  border: transparent;
}

.mediumHeart {
  position: absolute;
  height: 13.33px;
  width: 14px;
  left: 17px;
  top: 18px;
}

.mediumHeart-filled {
  position: absolute;
  height: 13.33px;
  width: 14px;
  left: 17px;
  top: 18px;
  fill: rgb(255, 0, 0);
}

/* Responsive design */

/* @media only screen and (max-width: 1919px) {
  .favorite-heroes-section {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1870px) {
  .favorite-heroes-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1552px) {
  .favorite-heroes-section {
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media only screen and (max-width: 1152px) {
  /* .favorite-heroes-section {
    grid-template-columns: repeat(2, 1fr);
  } */
  .search-bar-element {
    width: 50%;
  }
}

@media only screen and (max-width: 772px) {
  .favorite-heroes-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .search-title {
    font-size: 14px;
    line-height: 12px;
  }
  .search-bar-element {
    width: 60%;
  }
}

.cell-container {
  margin: 0px;
}

.liked-recently {
  position: relative;
}

.liked-recently::after {
  content: "liked recently";
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0px;
  left: 250px;
  width: 76px;
  height: 19px;
  font-size: 10px;
  line-height: 15px;
  background-color: #7b61ff;
  color: #fff;
  border-radius: 6px;
  padding: 2px 4px;
}
/* Buscar grid Autocolumns */
